body {
  background-image: url('imgg/linux.jpg');
  margin: 0;
  background-repeat: repeat;
  background-size: 30%;
  background-position: fixed;
}

div {
  background-image: url('imgg/linux.jpg');
  margin: 0;
  background-repeat: repeat;
  background-size: 30%;
  background-position: fixed;

}

.imgeg {
  text-align: center;
}

.black {
  color: #000000;
}

.h1box {
  border-radius: 1%;
  background-color: #ffffffef;
  opacity: 1;
  text-align: center;
  max-width: 630px;
  margin: 0 auto;
  padding: 10px;
}

.imgyg {
  text-align: right;
}
.ppbox {
  background-color: #ffffffef;
  border: #000000;
  border-radius: 3px;
  opacity: 1;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
  font-size: 160%;
}

.boxik {
  background-color: #000000;
  opacity: 0.8;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;

}


#navbar ul {
        position: fixed;
        display: none;
        background-color: #e4cd00;
        position: absolute;
        top: 100%;
        z-index: 1;
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbar {
        height: 35px;
        background-color: #000000;
        padding-left: 25px;
        min-width: 500px;
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;
      }
      #navbar li a {
        display: block;
        padding: 6px;
        width: 100px;
        color: #54686e;
        text-decoration: none;
        text-align: center;
      }
      #navbar ul li { float: none; }
      #navbar li:hover { background-color: #ffee00; }
      #navbar ul li:hover { background-color: #000000; }    

      html, body {
        height: 100%;
      }
      
 
